/*@import "compass"*/

@font-face {
    font-family: 'Entypo';
    src: url('serviceapp/fonts/entypo.eot');
    src: url('serviceapp/fonts/entypo.eot?#iefix') format('embedded-opentype'),
        url('serviceapp/fonts/entypo.woff') format('woff'),
        url('serviceapp/fonts/entypo.ttf') format('truetype'),
        url('serviceapp/fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html{
    font: normal 13px HelveticaNeue, helvetica, Arial, sans-serif;
    color: #636061;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
}

header{
    position:fixed;
    left:5px; top:0; right:0;
    background-color:#fff;
    height:5%;
    width: 100%;
    /*z-index:2000;*/
    background-color: yellow;
    border: 2px 2px 2px 2px solid black;
    /*opacity: 0.3;*/
}

nav{
    position:fixed;
    left:1%; top:2.5%;
    height:95%;
    width:15%;
    /*background-color:  #5cebc2;*/
    border: 2px 2px 2px 2px solid black;
}

footer{
    position:fixed;
    left:1.3%; top:94%;
    height:4%;
    width:14%;
    background-color: salmon;
    border: 2px 2px 2px 2px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    padding-top: 3px;
}

section{
    background-color: #006666;
    position: fixed;
    left:16%; top:2.5%;
    width: 82%;
    height:95%;
    margin: 0%;
    margin-left: 5px;
}


.login{
    position: relative;
    width:40%;
    height:60%;
    left: 30%;
    top:10%;
    /*background-color: green;*/
}

.btn_amh{
    width:100%;
    height: 10%;
    text-align: left;
    margin: 1px;
    margin-bottom: 3px;
    /*border: 1px solid black;*/
    box-shadow: 1px 1px 3px 1px black;
    -webkit-box-shadow: 1px 1px 3px 1px black;

}
.btn_amh:hover{
    background-color: #ccffcc;
    border: dotted 1px #636061;
}

#copie_right p{
    width:98%;
    height: 16%;
    text-align: center;
    margin: 1px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 3px 1px black;
    -webkit-box-shadow: 1px 1px 3px 1px black;
    background-color: #ccccff;
    font-weight: bold;
    border: dashed 1px black;
}

.menu_hor_amh{
    display: block;
    height: 6%;
    background-color:#ddffbb;
}
.menu_hor_amh button{
    display: inline-block;
    height: 98%;
    width: 15%;
}

.body_section_panel{
    height:93%;
    /* background-color:green;*/
}
.body_section_panel_content{
    height:99%;
    /*background-color:yellow;*/
}

.pre-scrollable {
    max-height: 99%;
    min-height: 98%;
    overflow-y: scroll;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.mn_item{

}


/*----- for input radio style ----*/
.btn span.glyphicon {    			
    opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;	
}
.btn.active{				
    opacity: 1;	
    background-color: #3e8f3e;
}
/*----- end radio style ----*/
#twitter_ic{
    display: block;
    width:100%;
    height:100%;
    margin:0;
}
#linkedin_ic{
    display: block;
    width:100%;
    height:100%;
    margin:0;

}